*{
	box-sizing:  border-box;
}
html
{
	height: 100%;
	width: 100%;
	font-size: 14px;
}
body
{
	margin: 0;
	height: 100%;
	width: 100%;
	min-width: 1160px;
}
header
{
	background-color: rgb(57, 50, 51);
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: 20% 80%;
}

main
{
	display: flex;
  	flex-wrap: nowrap;
}

.main 
{
	height: 100%;
	width: 90%;
	font-size: 0.9em;
	flex: 80%;
}

.car_card
{
	margin: auto;
	padding: 20px;
	width: 80%;
	height: 25%;
	display: grid;
	grid-template-columns: 30% 45% 25%;
}

.car_img
{
	grid-column: 1;
	height: 75%;
	width: 70%;
	margin: auto;
	padding: 0;
}

.description
{
	grid-column: 2;
	margin-left: 10px;
	display: grid;
	grid-template-rows: 20% 65% 15%;
}

.brand
{
	font-size: 1.6em;
	font-weight: 500;
	color: black;
	text-decoration: none;
	grid-row: 1;
}

.brand:hover
{
	color: #2082AC;
}

.description_avto
{
	font-size: 1.45em;
	grid-row: 2;
}

.price_info
{
	grid-column: 3;
	text-align: center;
	font-size: 1.5em;
	display: grid;
	grid-template-rows: 85% 15%;
}

.price
{
	text-align: center;
	grid-row: 1;
}

.price:after { 
    content:" \20BD";
    font-size: 0.85em;
    font-weight: 600;
}

.favorities
{
	grid-row: 2;
	font-size: 0.85em;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 0 15px 5px 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    grid-row: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -40px;
}

.dropdown a {
    color: black;
    font-size: 1.05em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 50;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

[for="selectCause"]
{
	font-size: 0.5em!important;
}

.date
{
	font-size: 1.3em;
	grid-row: 3;
	display:inline-block;
	vertical-align: bottom;
}

.modal-body textarea
{
	width: 100%!important;
}

h2
{
	margin: auto;
	width: 80%;
	margin-top: 20px;
}

.noAds
{
	margin-top: 20px;
	text-align: center;
}

	/* Подвал */

.footer {
	background-color: #343434;
	padding: 20px;
}

.footer h4 {
	color: #ccc;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #666;
	padding-bottom: 3px;
}

.footer a {
	text-decoration: none;
	transition: all .3s;
}

.footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer a, .footer li {
	color: #c8c8c8;
}

.footer li a {
	display: block;
}

.footer-icons a {
	display: inline-block;
	margin-right: 15px;
	font-size: 20px;
}

	/* Подвал */